@model Examen.Domain.Entities.Maison

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Maison</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.maisonId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.maisonId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.quartiers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.quartiers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.prix)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.prix)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.typeFk)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.typeFk)
        </dd>
    </dl>
</div>
<div>
    
    <a asp-action="Index">Back to List</a>
</div>
